@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import "./variables.scss";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $dark-blue;
  padding: 1rem;
  img {
    height: 50px;
  }
}
