nav {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    li {
      a {
        display: block;
        text-decoration: none;
        color: red;
        text-align: center;
        font-size: 1.1rem;
        transition: 300ms;
        transform: rotate(-45deg);
      }
      a.active {
        color: blue;
        width: 100%;
        transform: scale(1.2) rotate(-45deg);
        transition: 300ms;
      }
    }
  }
}
